<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BaoCaoLuong_12_2017.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BaoCaoLuong_12_2017.Properties.Settings.DatabaseDataEntryBPOConnectionString"
            connectionString="Data Source=10.10.10.248;Initial Catalog=DatabaseDataEntryBPO;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="BaoCaoLuong_12_2017.Properties.Settings.BaoCaoLuong2018ConnectionString"
            connectionString="Data Source=10.10.10.248\BPOSERVER;Initial Catalog=BaoCaoLuong2018;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
        <add name="BaoCaoLuong_12_2017.Properties.Settings.BaoCaoLuong2018ConnectionString1"
            connectionString="Data Source=10.10.10.248;Initial Catalog=BaoCaoLuong2018;Persist Security Info=True;User ID=sa;Password=BPO@DN#2013"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <BaoCaoLuong_12_2017.Properties.Settings>
            <setting name="ApplicationSkinName" serializeAs="String">
                <value />
            </setting>
            <setting name="Server" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="Check" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZoomImage" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PositionSplitMain" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Truong18" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong19" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong21" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong22" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong23" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong24" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong25" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong26" serializeAs="String">
                <value />
            </setting>
            <setting name="Truong27" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchID" serializeAs="String">
                <value />
            </setting>
            <setting name="ImageID" serializeAs="String">
                <value />
            </setting>
            <setting name="City" serializeAs="String">
                <value />
            </setting>
            <setting name="UserInput" serializeAs="String">
                <value />
            </setting>
            <setting name="QC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoaiPhieu" serializeAs="String">
                <value />
            </setting>
        </BaoCaoLuong_12_2017.Properties.Settings>
    </userSettings>
</configuration>